bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/*
*.db
.vs/
/Added api call throttling error handling for when we call the strava api too muchDeployment/
appsettings.json
GoogleSheetCredentials.json/
