<div id="strava">
    <div class="text-center">
        <h1 class="display-4">Dashboard</h1>
    </div>
    <activities-dashboard />
</div>

<script>

    let strava = new Vue({
        el: "#strava",
        mounted() {activitiesStore.loadActivities();}          
    });

</script>