<div id="strava">
    <div class="text-center">
        <h1 class="display-4">Dashboard</h1>
    </div>

    <activity-charts></activity-charts>
    
    <activities-gridview></activities-gridview>
    
</div>

<script>

    let strava = new Vue({
        el: "#strava",
        mounted() {activitiesStore.loadActivities();},
        methods: {
            
            groupByDate(date, type) {
            
              return  runningActivityStore.groupByDate(date, type);
            }
            }
    });

</script>